.Index {
  font-family: sans-serif;
  text-align: center;
}

.flexStack {
  display: flex;
  flex-direction: column;
}

button {
  padding: 20px;
  background-color: white;
  border: 1px solid black;
}

button:hover {
  background-color: green;
  color: white;
}
button:active {
  background-color: skyblue;
}
